@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{background:url(../images/bg-tile.png) repeat;}

#holder{margin:140px auto 0 auto;width:600px;height:220px;color:#0000FF;font-size:30px;text-align:center;}
.cntSeparator{display:block;color:#0000FF;font-size:300px;font-weight:800;text-align:center;width:40px;}